<h1><%= title %></h1>
<form>
    Array:<br>
    <input type="text" name="inputString" value="3, 2, 1" style="text-align: right; width: 250px;">
    <br><br>
    <input type="submit" value="Submit">
</form>

<h2>inputString: <%= inputString %></h2>
<h2>arraySorted: <%= arraySorted %></h2>



